image: node:18
pipelines:
  default:
    - step:
        name: Build and Deploy
        caches:
          - node
        script:
          - npm install
          - npx @11ty/eleventy
          - cp -R _site/* .
          - git config user.email "pipeline@bitbucket.org"
          - git config user.name "Bitbucket Pipeline"
          - git add .
          - git commit -m "Automated build [skip ci]" || echo "No changes"
          - git push origin HEAD:main --force
